<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8715905408-nt06eo6688aa228u8fnves5urpiaut04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8715905408-nt06eo6688aa228u8fnves5urpiaut04</string>
	<key>API_KEY</key>
	<string>AIzaSyCEbYwneh_NtAIKKbvzoQjeH8pLUxigRGI</string>
	<key>GCM_SENDER_ID</key>
	<string>8715905408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arif.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-app-b29c0</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-app-b29c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8715905408:ios:04a70761bb17e132f03965</string>
</dict>
</plist>